<header class="header">
  <div class="header-container">
    <h1>Airline Booking System</h1>
    <nav>
      <div class="myA" routerLink="/dashboard">Dashboard</div>
      <div class="myA" routerLink="/login">Logout</div>
    </nav>
  </div>
</header>

<main>
  <div class="dashboard-options">
    <div class="option" routerLink="/admin">
      <img src="assets/images/admin.png" alt="Admins" />
      <span>Admins</span>
    </div>
    <div class="option" routerLink="/airport">
      <img src="assets/images/airport.png" alt="Airport" />
      <span>Airport</span>
    </div>
    <div class="option" routerLink="/flight">
      <img src="assets/images/flight.png" alt="Flights" />
      <span>Flights</span>
    </div>
    <div class="option" routerLink="/passenger">
      <img src="assets/images/pilot.png" alt="Passenger" />
      <span>Passenger</span>
    </div>
    <div class="option" routerLink="/pilot">
      <img src="assets/images/passenger.png" alt="Pilots" />
      <span>Pilots</span>
    </div>
  </div>
</main>
